.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--tui-background-base);
    color: var(--tui-text-primary);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}