.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: var(--tui-background-base);
    border-bottom: 1px solid var(--tui-background-accent-1);
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--tui-text-01);
    margin: 0;
}