<form tuiForm="m" [formGroup]="form" (ngSubmit)="methode()(form)" (keydown.enter)="$event.preventDefault()">
    <header tuiHeader>
        <h2 tuiAppearance="title">{{formTitle()}}</h2>
    </header>
    @for (field of fields(); track field.name) {

    @if(field.type === 'textfield'){

    <tui-textfield>
        <label tuiLabel>{{field.label}}</label>
        <input [formControlName]="field.name" [placeholder]="field.placeholder ?? ''" tuiTextfield maxlength="30"
            (keydown.enter)="methode()(form)" />
        <tui-icon icon="@tui.step-forward" (click)="methode()(form)"></tui-icon>
    </tui-textfield>
    <tui-error [formControlName]="field.name" [error]="[] | tuiFieldError | async" />
    }@else if (field.type === 'inputWithIconPicker') {

    <div class="inputWithIconPicker">
        <div class="InputIcon">
            <tui-textfield>
                <label tuiLabel>{{field.label}}</label>
                <input [formControlName]="field.name" [placeholder]="field.placeholder ?? ''" tuiTextfield
                    maxlength="30" />
            </tui-textfield>
            <tui-error [formControlName]="field.name" [error]="[] | tuiFieldError | async" />
        </div>
        @for (subInput of field.subInputs; track subInput.name) {
        <app-icon-picker [formControlName]="subInput.name"></app-icon-picker>
        }
    </div>
    }@else if (field.type === 'urlsInput') {

    <div class="urlsInput">
        <tui-textfield>
            <label tuiLabel>{{field.label}}</label>
            <input formControlName="urlInputControl" [placeholder]="field.placeholder ?? ''" tuiTextfield
                maxlength="200" (keyup.enter)="addUrl(field.name)" />
            <tui-icon icon="@tui.plus" (click)="addUrl(field.name)"></tui-icon>
        </tui-textfield>
        <tui-error formControlName="urlInputControl" [error]="[] | tuiFieldError | async" />
        <div class="chips">
            @for(url of form.get(field.name)?.value; track url) {
            <span tuiChip class="url-chip" (click)="removeUrl(field.name, url)">{{url}} <tui-icon
                    icon="@tui.x"></tui-icon></span>
            }
        </div>
    </div>
    <div class="form-actions">
        <button tuiButton type="submit" [disabled]="form.invalid">Submit</button>
        <button tuiButton type="button" appearance="outline" (click)="resetForm()">Cancel</button>
    </div>

    }
    }
</form>