h2 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
}

tui-textfield {
    width: 100%;
}

.inputWithIconPicker {
    display: flex;
    gap: 0.5rem;
    transition: all 0.3s ease;
}

div {
    width: 100%;
}