.icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}



.lucide-icon-button {
    width: 100%;
    height: 100%;
    stroke-width: 1.75;
    display: flex;
    align-items: center;
    justify-content: center;
}