.icon-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 0.5rem;
}


.lucide-icon-button {
    width: 100%;
    height: 100%;
    stroke-width: 1.75;
    display: flex;
    align-items: center;
    justify-content: center;
}